// Third party
@import "bourbon";
@import "neat";


// Dependencies
@import "dependencies/responsive";
@import "dependencies/color";
@import "dependencies/type";
@import "dependencies/base";

// Components
@import "components/main-nav";
@import "components/article";
@import "components/article-list";
@import "components/footer";
@import "components/share-module";
@import "components/basic-page";
@import "components/article-image-nav";
@import "components/print";


body{
	background:$background-color;
}


p{
	color:white;
}

h1{
	@extend %sans-compressed;
}

.logo-container{
	text-align:center;
	position:fixed;
	z-index:0;
	top:0;
	// background:red;
	width:100%;
	height:100%;
	svg{
		max-width:90vw;
		@include respond-above(small){
			max-width:60vw;
		};
		@include respond-above(medium){
			max-width:50vw;
		};
		@include respond-above(large){
			max-width:50vw;
		};
	}

}
