lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
.DS_Store

pids
logs
results

npm-debug.log
node_modules

/.build
/.firebase.conf

*.scssc

*.map

*.map

*.map

static/css/site.css.map

static/css/site.css.map
