_site
.sass-cache
.jekyll-cache
.jekyll-metadata
vendor
_site/CONTRIBUTING.md
_site/feed.xml
_site/Gruntfile.js
_site/libs/cms.html
_site/libs/dateformatter.js
_site/libs/debug404.html
_site/libs/debug500.html
_site/libs/generator.js
_site/libs/scaffolding_individual.html
_site/libs/scaffolding_list.html
_site/libs/scaffolding_oneoff.html
_site/libs/swig_filters.js
_site/libs/swig_functions.js
_site/libs/swig_tags.js
_site/libs/utils.js
_site/libs/widgets/address.html
_site/libs/widgets/audio.html
_site/libs/widgets/checkbox.html
_site/libs/widgets/datetime.html
_site/libs/widgets/embedly.html
_site/libs/widgets/file.html
_site/libs/widgets/gallery.html
_site/libs/widgets/geolocation.html
_site/libs/widgets/grid.html
_site/libs/widgets/image.html
_site/libs/widgets/markdown.html
_site/libs/widgets/name.html
_site/libs/widgets/relation.html
_site/libs/widgets/switch.html
_site/libs/widgets/tabular.html
_site/libs/widgets/wysiwyg.html
_site/LICENSE
_site/options/generatorOptions.js
_site/package.json
_site/pages/404.html
_site/pages/about.html
_site/pages/cms.html
_site/pages/index.html
_site/pages/robots.txt
_site/pages/search-results.html
_site/README.md
_site/scss/dependencies/base.scss
_site/scss/dependencies/color.scss
_site/scss/dependencies/type.scss
_site/scss/site.scss
_site/static/css/main.css
_site/static/css/site.css
_site/static/css/wysiwyg_figures.css
_site/static/images/favicon.png
_site/static/images/logo-type.svg
_site/static/images/photographic-truth-cover.svg
_site/static/images/touch-icon.png
_site/static/javascript/main.js
_site/tasks/generatorTasks.js
_site/templates/articles/individual.html
_site/templates/articles/list.html
_site/templates/contributors/individual.html
_site/templates/contributors/list.html
_site/templates/episodes/individual.html
_site/templates/episodes/list.html
_site/templates/notifications/individual.html
_site/templates/notifications/list.html
_site/templates/partials/base.html
_site/templates/partials/footer.html
_site/templates/partials/header.html
_site/templates/partials/icons/logo-type.html
_site/templates/partials/mailchimp-signup.html
_site/templates/partials/paginator.html
_site/test/generate.js
