<footer class="global-footer">
	<p class="footer-text">Photographic Truth 2017</p>	
	
	<!-- Begin MailChimp Signup Form -->
	<div id="mc_embed_signup">
		<form action="//photographictruth.us15.list-manage.com/subscribe/post?u=73e511051a009e958f3069483&amp;id=ddb5cf13f6" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
		    <div id="mc_embed_signup_scroll">
			<!-- <h2>Subscribe to our mailing list</h2> -->
		<div class="mc-field-group">
			<!-- <label for="mce-EMAIL" >Email Address</label> -->
			<input type="email" value="" name="EMAIL" placeholder="email" class="required email" id="mce-EMAIL">
		</div>
			<div id="mce-responses" class="clear">
				<div class="response" id="mce-error-response" style="display:none"></div>
				<div class="response" id="mce-success-response" style="display:none"></div>
			</div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
		    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_73e511051a009e958f3069483_ddb5cf13f6" tabindex="-1" value=""></div>
		    <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
		    </div>
		</form>
	</div>

	<!--End mc_embed_signup-->

	<nav class="footer-nav__container">
		<ul class="footer-nav__list">
			<li class="footer-nav__item">
				<a class="footer-nav__link" href="http://facebook.com/photographictruth" target="_blank">
					{% include "templates/partials/icons/facebook-icon.html" %}
				</a>
			</li>
			<li class="footer-nav__item">
				<a class="footer-nav__link" href="https://www.instagram.com/photographictruth/" target="_blank">
					{% include "templates/partials/icons/instagram-icon.html" %}
				</a>
			</li>
			<li class="footer-nav__item">
				<a class="footer-nav__link" href="http://twitter.com/phototruthmedia" target="_blank">
					{% include "templates/partials/icons/twitter-icon.html" %}
				</a>
			</li>
		</ul>
	</nav>
</footer>