<footer class="global-footer">
	<p class="footer">Photographic Truth </p>	
	
	

	<nav class="footer-nav__container">
		<ul class="footer-nav__list">
			<li class="footer-nav__item">
				<a class="footer-nav__link" href="http://facebook.com/photographictruth" target="_blank">
					{% include "templates/partials/icons/facebook-icon.html" %}
				</a>
			</li>
			<li class="footer-nav__item">
				<a class="footer-nav__link" href="https://www.instagram.com/photographictruth/" target="_blank">
					{% include "templates/partials/icons/instagram-icon.html" %}
				</a>
			</li>
			<li class="footer-nav__item">
				<a class="footer-nav__link" href="http://twitter.com/phototruthmedia" target="_blank">
					{% include "templates/partials/icons/twitter-icon.html" %}
				</a>
			</li>
		</ul>
	</nav>
</footer>