
<a class="main-nav__toggle">
	{% include "templates/partials/icons/menu.html" %}
</a>

<nav class="main-nav">

	<ul class="main-nav__list">
		<li class="main-nav__list-item"><a class="main-nav__link"href="../../">Home</a></li>
		<li class="main-nav__list-item"><a class="main-nav__link"href="../../articles">Articles</a></li>
		{# <li class="main-nav__list-item"><a class="main-nav__link"href="../../episodes">Episodes</a></li> #}
		<li class="main-nav__list-item"><a class="main-nav__link"href="../../contributors">Contributors</a></li>
		<li class="main-nav__list-item"><a class="main-nav__link"href="">About</a></li>
	</ul>
</nav>


<!-- <form action="/search-results/" method="get" data-search-index="false">
 <input type="text" name="q" placeholder="Search" id="tipue_search_input" />
</form> -->

<!--  <nav>
 	<ul>
 		<li>
 			<a href="../../">Home</a>
 		</li>
 		<li>
 			<a href="../../entries">Entries</a>
 		</li>
 		<li>
 			<a href="../../episodes">Episodes</a>
 		</li>
 		<li>
 			<a href="../../contributors">Contributors</a>
 		</li>
 	</ul>
 </nav> -->