<a class="main-nav__toggle">
	menu
</a>
<nav class="main-nav">

	<ul class="main-nav__list">
		<li class="main-nav__list-item"><a href="">Articles</a></li>
		<li class="main-nav__list-item"><a href="">Episodes</a></li>
		<li class="main-nav__list-item"><a href="">Contributors</a></li>
		<li class="main-nav__list-item"><a href="">About</a></li>
	</ul>
</nav>


{# Simple search form, remove from search index #}
<!-- <form action="/search-results/" method="get" data-search-index="false">
 <input type="text" name="q" placeholder="Search" id="tipue_search_input" />
</form>
 -->
<!--  <nav>
 	<ul>
 		<li>
 			<a href="../../">Home</a>
 		</li>
 		<li>
 			<a href="../../entries">Entries</a>
 		</li>
 		<li>
 			<a href="../../episodes">Episodes</a>
 		</li>
 		<li>
 			<a href="../../contributors">Contributors</a>
 		</li>
 	</ul>
 </nav> -->