.site-footer{
	background:white;
	z-index:999;
	position: relative;
	font-family:var(--monument);
	font-size:var(--small);
	padding:1em;

}

.site-footer p{
	margin:0;
	font-family: var(--monument);
	font-size:var(--small);
}

h2.footer-heading{
	font-family: var(--monument);
	font-size:var(--small);
}