.image-gallery{
	position: fixed;
	width:50%;
	align-items: center;
	display: flex;
	height:100vh;
	z-index:1;
}

.image-gallery figure{
	/*height:500px;*/
	background:grey;
	display: block;
	/*border:1px solid black;*/
}

.image-gallery figcaption{
	font-family: var(--monument);
	line-height:1.33;
	font-size:var(--small);
	letter-spacing: 0.04em;
}