
{% extends "templates/partials/base.html" %}
{# This sets our page <title>. It will append this entries's name to the site title defined in base.html #}
{% block title %}{% parent %} - {{ item.name }}{% endblock %}
{% block content %}
 <h1 class="article__title">{{item.name}}</h1>

 {% if item.subtitle %}
	 <h2 class="article__subtitle">{{item.subtitle|safe}}</h2>
 {% endif %}

  <section class="article__container">
    {{item.story|safe}}
    {% for relation in item.contributor %}
    	<p class="article-byline">{{relation.name}}</p>
    	<p class="article-byline--details">{{ item.publish_date|date('F d Y') }}</p>
    {% endfor %}
    {% include "templates/partials/share-module.html" %}
  </section>
{% include "templates/partials/article-list.html" %}
{% endblock %}

