.page-container{
	max-width:90%;
	margin:0 auto;	
}

.page-title{
	@include text-size($x-large);
	text-transform:uppercase;
}

.story{
	p{
		@include text-size($large);
		@extend %serif;
		line-height:1!important;
	}
}


.contributors-container{
	@include respond-above(large){
		display:grid;
		grid-template-columns:repeat(2,1fr);
		grid-column-gap:1rem;
	};
	
	h2{
		grid-column-end:span 2;

	}
}

.contributor-image{
	max-width:33%;
	filter:grayscale(1.0);
	// border-radius:50%;
	@include respond-above(large){
		max-width:33%;

	};
}

.contributor-individual{
	margin-bottom:4rem;

	h3{
		@include text-size($small);
	}
	p{
		@extend %serif;
		@include text-size($small);
	}
}

