.main-nav{
	background:white;
	@include respond-above(small){
		width:100vw;
		height:100vh;
		position:fixed;
		top:0;
		z-index:10;
		transform:translateX(-100vw);
		transition: all 0.5s;
		transition-timing-function:cubic-bezier(0.88,-0.01, 0.58, 1);

		&.active{
			transform:translateX(-0vw);
		}
	}	
}



.main-nav__list{
	margin-top:0;
	@include outer-container(90%);
}

.main-nav__list-item{
	@extend %sans-compressed;
	font-size:72px;
}


.main-nav__toggle{
	position:fixed;
	z-index:20;
	bottom:0;
	background:white;
	@include respond-above(small){
		top:0;
		right:0;
	}
	path{
		transition:all 0.2s;
	}
	&.active{
		#line-01,
		#line-02{
			transform:rotate(45deg);
		}
		#line-03{
			transform:rotate(-45deg);
		}
	}
}