.main-nav{
	background:$background-color;
	// transform:translatey(-140vh);
	transform:translateX(-100vw);

	position:fixed;
	top:0;
	width:100vw;
	height:100vh;
	transition: transform 0.5s;
	transition-timing-function:cubic-bezier(0.88,-0.01, 0.58, 1);
	z-index:10;


	&.active{
		transform:translatex(-0vw);
		z-index:10;
	}
	@include respond-above(small){
		width:100vw;
		height:100vh;
		position:fixed;
		top:0;
		transition: transform 0.5s;
		transition-timing-function:cubic-bezier(0.88,-0.01, 0.58, 1);

		&.active{
			transform:translateX(-0vw);
		}
	}	
}

.main-nav__logo{
	width:100%;
	margin-left:2%;
	bottom:2rem;
	position:fixed;
	svg{
		max-width:25%;
		margin:0 auto;
	}
}


.main-nav__list{
	margin-top:0;
	// @include outer-container(90%);
	padding:1rem 0 0 0;
}

.main-nav__list-item{
	@extend %sans-compressed;
	@include text-size($x-large);
	list-style:none;
	text-transform:uppercase;
	border-bottom:1px solid $text-color;
}

.main-nav__link{
	transition: all 0.2s ease-in-out;
	display:block;
	padding:0.33em 0.25em 0.1em 0.25em;
	text-decoration:none;
}


.main-nav__toggle{
	position:fixed;
	z-index:20;
	bottom:0;
	background:$background-color;
	width:100vw;
	height:50px;
	padding:1rem;
	&:hover{
		background:$background-color;
	}

	// display:inline-block;
	@include respond-above(small){
		top:0;
		right:0;
		width:80px;
		background:none;

		&:hover{
			background:none;

		}
	}
	svg{
		@include transform-origin(50% 50%);

	}
	path{
		transition:all 0.2s;

	}

	
	&.active{
		path{
			stroke-width:8;
		}
		#line-01,
		#line-02{
			transform:rotate(45deg) translateX(5%);
		}

		#line-03{
			transform:rotate(-45deg) translatex(-25%);
			// stroke:red;
		}
		#line-02{
			// stroke:green;
			transform:rotate(45deg) translatey(-13%) translatex(7%);
		@include transform-origin(0% 0%);

		}
	}
}