body{
	background:$background-color;
	margin:0;
	padding:0;
	max-width:100%;


}

h1{
	@extend %sans-serif;
	@include respond-above(medium){
		font-size:72px;
	};
}

h2{
	@extend %sans-serif;
}

h3{

}

h4{

}

h5{

}

h6{

}

p{
	@extend %sans-serif;
}

ul, 
ol{
	li{
		@extend %sans-serif;	
	}
}



a{
	color:$text-color;

	&:visited{
		color:$text-color;	
	}

	&:hover{
		color:$background-color;
		background:$text-color;
		text-decoration:none;
		-webkit-font-smoothing:antialiased;
	}

}

button{

}