---
layout: default
---


<section class="post article-container h-entry" itemscope itemtype="http://schema.org/BlogPosting">
  <section class="image-gallery">
      <a class="index-link" href="#">Image Index</a>
     <!--  <figure>
        <figcaption>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
          cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
          proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </figcaption>
      </figure> -->

      {% for item in page.galleryImages %}
      <figure class="image-gallery-item">
        <img class="gallery-image" src="{{item.item.image}}">
        <figcaption class="gallery-caption">{{item.item.caption}}</figcaption>
        </figure>
      {% endfor %}
    </section>

  <article class="article">
  <header class="post-header article-header">
    <h1 class="post-title p-name article-title" itemprop="name headline"><span class="title">{{ page.title | escape }}</span></h1>
    <p class="post-meta">
      <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        {{ page.date | date: date_format }}
      </time>
      {%- if page.author -%}
        • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span class="p-author h-card" itemprop="name">{{ page.author }}</span></span>
      {%- endif -%}</p>
  </header>

  <div class="post-content e-content" itemprop="articleBody">
    {{ content }}
  </div>

  {%- if site.disqus.shortname -%}
    {%- include disqus_comments.html -%}
  {%- endif -%}

  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
  </article>
</section>
